<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Password-Generator</h1>
  <div>
    <label for="">Enter Length</label>
    <input type="text">
  </div>
  <div>
    <label for="">Use Letters</label>
    <input type="checkbox">
  </div>

  <div>
    <label for="">Use Numbers</label>
    <input type="checkbox">
  </div>
  <div>
    <label for="">Use Symbols</label>
    <input type="checkbox">
  </div>

  <div>
    <button>Generate</button>
  </div>
  <div>
    
<label for="">Your Passowrd</label>
    

  </div>
</body>
</html>